In [1]:
from wmts_extractor.extractor import Extractor

In [2]:
args = dict(
    aois=None, 
    dirs=None, 
    end_datetime=None, 
    features=None, 
    format='GTIFF', 
    info_only=True, 
    max_cloud=None, 
    max_downloads=None, 
    max_resolution=None, 
    options='TILED=YES COMPRESS=LZW', 
    out_path='/images/', 
    overlap=None, 
    overwrite=False, 
    period_resolution='/cfg/period_resolution_filter.yml', 
    platforms=None, 
    start_datetime=None, 
    zoom=18,
    prettify_table=True
)

In [3]:
config = dict(
    endpoint=dict(
        name='securewatch',
        credentials=dict(
            username='yolanda.vazquez@sa.catapult.org.uk',
            password=''
        ),
        id='0f96fb54-cbb7-4191-afec-ea6372b311ab',
        uri='https://securewatch.digitalglobe.com/earthservice/wmtsaccess',
        type='slippy',
        layer='DigitalGlobe:ImageryTileService', 
        format='png', 
        tilematrixset='EPSG:3857', 
        profile='Currency_RGB_Profile'    
    ),
    aoi=dict(
        pathname='/cfg/aoi/aoi_example.shp', 
        name='name'
    )
)

In [4]:
args['period_resolution'] = {
    'number_images': 7,
    'resolutions': [0.3, 0.4, 0.5],
    'periods': [
        {
            'name': 'Period 1',
            'date_range': ['1/1/2011', '31/12/2014'],
            'weights': [[11, 12, 12], 
                        [21, 22, 23], 
                        [31, 32, 33]]
        },
        {
            'name': 'Period 2',
            'date_range': ['31/1/2015', '1/12/2018'],
            'weights': [[41, 42, 43],
                        [51, 52, 53],
                        [61, 62, 63],
                        [71, 72, 73]]
        }
    ]
}

In [5]:
securewatch = Extractor(config, args)
tiles = securewatch.get_tiles()
tiles

		Decision Table
           Period Name  0.3  0.4  0.5
2011-01-01    Period 1   11   12   12
2012-12-31    Period 1   21   22   23
2014-12-31    Period 1   31   32   33
2015-01-31    Period 2   41   42   43
2016-01-25    Period 2   51   52   53
2017-01-18    Period 2   61   62   63
2018-01-12    Period 2   71   72   73

,platform,uid,product,acq_datetime,cloud_cover,resolution,geometry,overlap,Weights,Period Name
0,WorldView-03,708f35be5cdb8810eff1a91f48420951,Pan Sharpened Natural Color,2017-08-28 07:50:19,0.000000,0.3,"POLYGON ((44.92616 12.99229, 44.96102 12.99015...",100.000000,61,Period 2
1,WorldView-02,4e1a9ad33e8e8867f3198b6cbb1906cf,Pan Sharpened Natural Color,2014-03-10 07:41:54,0.038534,0.5,"POLYGON ((44.89797 13.03365, 44.92925 13.02978...",100.000000,23,Period 1
2,WorldView-03,66c9145994bd1dae337d05708f3c2c8c,Pan Sharpened Natural Color,2014-11-04 07:36:45,0.000000,0.3,"POLYGON ((44.95195 12.75269, 44.95204 12.78711...",50.113704,21,Period 1
3,WorldView-03,9a93bbeb4991fa865fb083809cbf0e63,Pan Sharpened Natural Color,2014-10-21 07:16:16,0.011507,0.3,"POLYGON ((44.95209 12.90339, 44.95328 12.90329...",100.000000,21,Period 1
4,GeoEye-01,f0a5b45e09f868a70e004337488674c7,Pan Sharpened Natural Color,2011-10-23 07:22:39,0.007486,0.4,"POLYGON ((44.78526 12.95904, 44.81924 12.95862...",100.000000,12,Period 1
5,WorldView-02,1ffcacf3ebb20241b067a14b4ffd2786,Pan Sharpened Natural Color,2011-03-10 07:58:48,0.029268,0.4,"POLYGON ((44.94652 12.72968, 44.94654 12.75920...",100.000000,12,Period 1
6,GeoEye-01,95603441945ef85d77d7075e6c806eed,Pan Sharpened Natural Color,2011-03-01 07:26:02,0.498521,0.4,"POLYGON ((44.81506 13.01072, 44.85011 13.01000...",100.000000,12,Period 1